<div class="contents row">
  <div class="container">
    <h3>New Create</h3>
    <%= form_with(model: @lists, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "Title" %>
      <%= form.text_field :shopping_date, placeholder: "Date" %>
      <%= form.text_field :place, placeholder: "Place" %>
      <%= form.text_area :item, placeholder: "Items", rows: "10" %>
      <%= form.text_area :note, placeholder: "Memo", rows: "10" %>
      <%= form.submit "ä½œæˆ" %>
    <% end %>
  </div>
</div>