<div class="contents row">
    <div class="more">
      <p class="font-size-title">
        <%= @list.title%></p>
      <p><%= @list.shopping_date %></p>
      <p>at<%= @list.place %></p>
      <p><%= @list.item %></p>
    <p>＊メモ＊</p>
      <p><%= @list.note %></p>
 
 
    </div>
  </div>
</div>